:root {
  --color-contrast: #292439;
  --color-btn-backgound: #d2d8ef;
  --color-btn-backgound-active: #dfe4f8;
  --color-shadow: rgba(50, 33, 37, 0.60);
  --color-page-background: white;
  --color-link: #0d3ea0;
  --color-selected: #9dbed7;
  --selected: 0 0 1px 2px var(--color-selected);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-contrast: #e0dce9;
    --color-btn-backgound: #d2d8ef;
    --color-btn-backgound-active: #dfe4f8;
    --color-shadow: rgba(50, 33, 37, 0.60);
    --color-page-background: #27262c;
    --color-link: #94b8ff;
  }
}

a {
  color: var(--color-link);
}

body {
  margin: 0;
  background-color: var(--color-page-background);
  color: var(--color-contrast);
}

button {
  border-radius: 4px;
  border: 1px solid var(--color-contrast);
  background-color: var(--color-btn-background);
  box-shadow: 1px 1px 8px -4px var(--color-shadow);
  color: var(--color-contrast);
  cursor: pointer;
  height: 100%;
  padding: 8px 12px;
  height: fit-content;
  transition: box-shadow 150ms cubic-bezier(0.61, 1, 0.88, 1);
}

button:hover, button:focus {
  box-shadow: 1px 1px 10px -2px var(--color-shadow);
}

button:active {
  background-color: var(--color-btn-background-active);
  box-shadow: 1px 1px 8px -4px var(--color-shadow);
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--color-page-background);
  border-bottom: 1px solid var(--color-contrast);
  padding: 0.5em;
  z-index: 1;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.editor {
  display: flex;
}

.spritesheet-container {
  overflow: auto;
}

lpc-option-sidebar {
  flex: 0 0 256px;
  padding: 0.5em;
  border-right: 1px solid var(--color-contrast);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0.5em 0;
}

legend {
  padding: 0;
  border-bottom: 1px solid var(--color-contrast);
  width: 100%;
  font-size: 1em;
  text-transform: capitalize;
  margin-bottom: 0.25em
}

.attribution {
  border-top: 1px solid var(--color-contrast);
  padding: 0.5em;
}

.attribution button {
  float: right;
}

/* Animation Preview */

lpc-animation-preview {
  grid-column: 2;
}

lpc-animation-preview::part(select-base) {
  display: flex;
  align-items: center;
  gap: 8px;
}

lpc-animation-preview::part(animation-select) {
  border-radius: 4px;
  border: 1px solid var(--color-contrast);
  background-color: var(--color-btn-background);
  box-shadow: 1px 1px 8px -4px var(--color-shadow);
  color: var(--color-contrast);
  cursor: pointer;
  padding: 8px 24px 8px 12px;
  height: fit-content;
  transition: box-shadow 150ms cubic-bezier(0.61, 1, 0.88, 1);

  /* Arrow */
  appearance: none;
  background-repeat: no-repeat;
  /* SVG from Material Symbols https://fonts.google.com/icons */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCIgZmlsbD0iIzI5MjQzOSI+PHBhdGggZD0ibTI0IDMwLjc1LTEyLTEyIDIuMTUtMi4xNUwyNCAyNi41bDkuODUtOS44NUwzNiAxOC44WiIvPjwvc3ZnPg==);
  background-position: right 4px top calc(50% + 1px);
  background-size: 18px auto;
}

@media (prefers-color-scheme: dark) {
  lpc-animation-preview::part(animation-select) {
    /*
    SVG from Material Symbols https://fonts.google.com/icons
    Same as the light mode version, just a different color
    */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCIgZmlsbD0iI2UwZGNlOSI+PHBhdGggZD0ibTI0IDMwLjc1LTEyLTEyIDIuMTUtMi4xNUwyNCAyNi41bDkuODUtOS44NUwzNiAxOC44WiIvPjwvc3ZnPg==);
  }
}
