:root {
  --color-contrast: #292439;
  --color-btn-backgound: #d2d8ef;
  --color-btn-backgound-active: #dfe4f8;
  --color-shadow: rgba(50, 33, 37, 0.60);
  --color-page-background: white;
  --color-link: #0d3ea0;
  --color-selected: #9dbed7;
  --selected: 0 0 1px 2px var(--color-selected);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-contrast: #e0dce9;
    --color-btn-backgound: #d2d8ef;
    --color-btn-backgound-active: #dfe4f8;
    --color-shadow: rgba(50, 33, 37, 0.60);
    --color-page-background: #27262c;
    --color-link: #94b8ff;
  }
}

a {
  color: var(--color-link);
}

body {
  margin: 0;
  background-color: var(--color-page-background);
  color: var(--color-contrast);
}

button {
  border-radius: 4px;
  border: 1px solid var(--color-contrast);
  background-color: var(--color-btn-background);
  box-shadow: 1px 1px 8px -4px var(--color-shadow);
  color: var(--color-contrast);
  cursor: pointer;
  height: 100%;
  padding: 8px 12px;
  height: fit-content;
  transition: box-shadow 150ms cubic-bezier(0.61, 1, 0.88, 1);
}

button:hover, button:focus {
  box-shadow: 1px 1px 10px -2px var(--color-shadow);
}

button:active {
  background-color: var(--color-btn-background-active);
  box-shadow: 1px 1px 8px -4px var(--color-shadow);
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--color-page-background);
  border-bottom: 1px solid var(--color-contrast);
  padding: 0.5em;
  z-index: 1;
}

animation-preview {
  grid-column: 2;
}

.header button {
  justify-self: end;
}

.editor {
  display: flex;
}

.spritesheet-container {
  overflow: auto;
}

.sidebar {
  flex: 0 0 256px;
  padding: 0.5em;
  border-right: 1px solid var(--color-contrast);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0.5em 0;
}

legend {
  padding: 0;
  border-bottom: 1px solid var(--color-contrast);
  width: 100%;
  font-size: 1em;
  text-transform: capitalize;
  margin-bottom: 0.25em
}

.item-color-options fieldset {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.item-color-options legend {
  border: none;
  float: left;
  width: fit-content;
  margin-right: 0.5em;
}

.color-option {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 24px;
  height: 24px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 0.25em;
  cursor: pointer;
  transition: 60ms transform ease-in-out;

  display: grid;
  place-content: center;
}

.color-option:hover {
  box-shadow: 1px 1px 8px -2px var(--color-shadow);
  transform: translate(0, -2px) scale(1.1);
}

.color-option:checked {
  box-shadow: 1px 1px 8px -2px var(--color-shadow), var(--selected);
}

.color-option::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: scale(0);
  transform-origin: center;
  transition: 120ms transform ease-in-out;
  backdrop-filter: invert(1);
  opacity: 60%;
}

.color-option:checked::before {
  transform: scale(1);
}

.attribution {
  border-top: 1px solid var(--color-contrast);
  padding: 0.5em;
}

.attribution button {
  float: right;
}

.category-item-options {
  display: flex;
  flex-wrap: wrap;
}

.item-button {
  width: 64px;
}

.item-button input[type=radio] {
  opacity: 0;
  position: absolute;
}

.item-button label {
  display: block;
  cursor: pointer;
  background-color: var(--color-page-background);
  transition: 60ms transform ease-in-out;
}

.item-button label span {
  display: block;
  text-align: center;
}

.item-button input[type=radio]:hover + label {
  box-shadow: 1px 1px 8px -2px var(--color-shadow);
  transform: translate(0, -2px) scale(1.05);
}

.item-button input[type=radio]:checked + label {
  box-shadow: 1px 1px 8px -2px var(--color-shadow), var(--selected) inset;
}

.item-button input[type=radio]:checked:hover + label {
  transform: translate(0, -2px) scale(1.05);
}

/* Animation Preview */

animation-preview::part(select-base) {
  display: flex;
  align-items: center;
  gap: 8px;
}

animation-preview::part(animation-select) {
  border-radius: 4px;
  border: 1px solid var(--color-contrast);
  background-color: var(--color-btn-background);
  box-shadow: 1px 1px 8px -4px var(--color-shadow);
  color: var(--color-contrast);
  cursor: pointer;
  padding: 8px 24px 8px 12px;
  height: fit-content;
  transition: box-shadow 150ms cubic-bezier(0.61, 1, 0.88, 1);

  /* Arrow */
  appearance: none;
  background-repeat: no-repeat;
  /* SVG from Material Symbols https://fonts.google.com/icons */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCIgZmlsbD0iIzI5MjQzOSI+PHBhdGggZD0ibTI0IDMwLjc1LTEyLTEyIDIuMTUtMi4xNUwyNCAyNi41bDkuODUtOS44NUwzNiAxOC44WiIvPjwvc3ZnPg==);
  background-position: right 4px top calc(50% + 1px);
  background-size: 18px auto;
}

@media (prefers-color-scheme: dark) {
  animation-preview::part(animation-select) {
    /*
    SVG from Material Symbols https://fonts.google.com/icons
    Same as the light mode version, just a different color
    */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNDgiIHdpZHRoPSI0OCIgZmlsbD0iI2UwZGNlOSI+PHBhdGggZD0ibTI0IDMwLjc1LTEyLTEyIDIuMTUtMi4xNUwyNCAyNi41bDkuODUtOS44NUwzNiAxOC44WiIvPjwvc3ZnPg==);
  }
}
